/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px 25px 75px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 20px;
    position: fixed;  /* Gắn phần tử vào đầu trang */
    top: 0;
    left: 0;
    width: 100%;  /* Chiều rộng đầy đủ */
    z-index: 1000;  /* Đảm bảo navbar ở trên các phần tử khác */
  }
  
  /* Đảm bảo nội dung trang không bị che khuất */
  body {
    padding-top: 90px;  /* Thêm khoảng trống ở trên để navbar không che khuất nội dung */
  }
  
  /* Thương hiệu */
  .navbar-brand a {
    font-size: 24px;
    font-weight: bold;
    color: #007F86;
    text-decoration: none;
  }
  
  /* Danh sách điều hướng */
  .navbar-ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  
  .navbar-ul li {
    margin-left: 20px;
  }
  
  .navbar-ul li a {
    text-decoration: none;
    color: #666;
    transition: color 0.5s;
  }
  
  .navbar-ul li a:hover {
    color: #FF007F;
    color: #FF7F50;
  }
  
  .navbar-ul li a.active {
    color: #84c7a8;
  }
  