/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px 25px 75px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 20px;
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1000;  
  }
  
  body {
    padding-top: 90px;  
  }
  
  .navbar-brand a {
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
    text-decoration: none;
  }
  
  .navbar-ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  
  .navbar-ul li {
    margin-left: 20px;
  }
  
  .navbar-ul li a {
    text-decoration: none;
    color: #666;
    transition: color 0.5s;
  }
  
  .navbar-ul li a:hover {
    color: #FF007F;
    color: #FF7F50;
  }
  
  .navbar-ul li a.active {
    color: #3498db;
  }
  
